@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik+Glitch&family=Rubik+Microbe&display=swap');
body {
  background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
  color: white;
  font-family: 'Ubuntu', sans-serif;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: 00;
  font-size: 5em;
  text-shadow: red -3px 0,
                cyan 3px 0;
}

h1:hover{
  text-shadow: none;
}

#result {
  aspect-ratio: 1/1;
  max-width: 512px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 512px;
  margin-top: 2rem;
}

textarea {
  width: 100%;
  height: 100px;
  margin: 10px 0;
  font-size: 1rem;
}

button {
  width: 100%;
  height: 50px;
  cursor: pointer;
  text-transform: uppercase;
  margin-bottom: 50px;

  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #ff5252;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #fff;
  color: #ff5252;
  border: 2px solid #ff5252;
  box-shadow: 5px 5px 0px #ff5252;
}

button:active{
  box-shadow: none;
  transform: translateY(4px);
}

.hidden {
  display: none;
}

.spinner {
  animation: spin 1s linear infinite;
  display: inline-block;
}

#dowload{
  margin-top: 20px;
}

#download > button{
  margin-top: 20px;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 50px;
}

textarea{
  background-color: #eee;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  width: 13em;
  border-radius: 1rem;
  color: lightcoral;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
  width: 94%;
}

@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3em;
    text-align: center;
  }
  
  #result {
    max-width: 256px;
  }
  
  form {
    max-width: 256px;
  }
}
